<div id="subnav_actions">
  <%= link_to("All Books", books_path) %>
  <% if logged_in? %> |
    <%= link_to("Add Book", new_book_path) %>
  <% end %>
</div>

<div id="subnav_cloud">
  <%= render :partial => "tag_cloud" %>
</div>

<div id="subnav_search">
  <%= render :partial => "search" %>
</div>

<div class="clear"></div>