defaults: &defaults
  auth:
    guest: knowledge
    admin: spartacus
  paperclip:
    storage: filesystem

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
  paperclip:
    storage: s3
    credentials: "config/amazon_s3.yml"
    path: ":attachment/:id/:style/:basename.:extension"
    bucket: 'backet_name'